<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="false"></span>
      <span aria-hidden="false"></span>
      <span aria-hidden="false"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/home" routerLinkActive="active">
        Accueil
      </a>
      <div class="navbar-item has-dropdown is-hoverable" *ngIf="isAuthenticated() && isAdmin()">
        <a class="navbar-link" routerLink="/admin-général" routerLinkActive="active">
          Admin-Général
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/register" routerLinkActive="active">
            Ajout Partenaire
          </a>
          <a class="navbar-item" routerLink="/lister-partenaire" routerLinkActive="active">
            Lister Partenaire
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable" *ngIf="isAuthenticated() && isPartenaire()">
        <a class="navbar-link" routerLink="/partenaire" routerLinkActive="active">
          Partenaire
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            Ajout user-simple
          </a>
          <a class="navbar-item">
            Lister user-simple
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" routerLink="/login" *ngIf="!isAuthenticated()">
            <strong>Se Connecter</strong>
          </a>
          <a class="button is-danger" (click)="logOut()" *ngIf="isAuthenticated()">
            <strong>Déconnexion</strong>
          </a>
          
        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="container has-text-centered">
    <div class="content">
      <br> <br>
      <p style="font-style: italic; color:navy; font-weight:bold">Pour le Sénégal avec ❤️</p>
    </div>
  </div>
</footer>